/* 全体のスタイルリセット */
*,
*::before,
*::after {
  box-sizing: border-box; /* 全ての要素にボックスサイズを適用 */
}

html, body {
  margin: 0; /* 余白をリセット */
  padding: 0; /* パディングをリセット */
  width: 100%; /* 幅を100%に */
  overflow-x: hidden; /* 水平方向のオーバーフローを防ぐ */
}

/* 全体のスタイル */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: black; /* 背景色 */
  color: #333; /* 文字色 */
}

/* ヘッダーのスタイル */
header {
  color: white;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 20px; /* ヘッダーの下の余白 */
}

h1 {
  font-size: 2.5rem; /* h1のフォントサイズ */
}

/* オーバーレイのスタイル */
.overlay {
  position: absolute;
  top: 90%; /* 位置を設定 */
  left: 50%; /* 中央に配置 */
  transform: translate(-50%, -50%); /* 中央に配置 */
  width: 90%; /* 幅を90%に */
  text-align: center; /* テキスト中央揃え */
  color: white; /* 文字色 */
  background: rgba(0, 0, 0, 0.5); /* 背景色 */
  padding: 20px; /* 内側の余白 */
}

.overlay h2 {
  font-size: 1rem; /* h2のフォントサイズ */
  padding: 10px; /* 内側の余白 */
  line-height: 1.2; /* 行間 */
  text-align: center; /* テキスト中央揃え */
}

/* メディアクエリでのオーバーレイのスタイル */
@media (max-width: 768px) {
  .overlay {
    padding: 10px; /* 内側の余白 */
  }
  .overlay h2 {
    font-size: 0.8rem; /* h2のフォントサイズ */
    padding: 5px; /* 内側の余白 */
    line-height: 1.0; /* 行間 */
  }
}

/* セクションのスタイル */
section {
  margin-bottom: 20px; /* セクションの下の余白 */
  padding: 20px; /* 内側の余白 */
  background-color: white; /* 背景色 */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 影 */
  position: relative; /* 相対位置 */
  width: 100%; /* 幅を100%に */
}

section h2 {
  font-size: 1.8rem; /* h2のフォントサイズ */
  margin-bottom: 10px; /* h2の下の余白 */
  border-bottom: 2px solid #000; /* 下線 */
  padding-bottom: 5px; /* 内側の余白 */
}

/* リンクのスタイル */
a {
  color: inherit; /* 継承した色を使用 */
  text-decoration: none; /* 下線を削除 */
}

a:hover {
  text-decoration: underline; /* ホバー時に下線を表示 */
}

/* アイキャッチ画像のスタイル */
.img-container {
  position: relative; /* 相対位置 */
  width: 100%; /* 幅を100%に */
  height: 600px; /* 高さ */
  background-image: url(hw1.png); /* 背景画像 */
  background-size: cover; /* 画像をカバー */
  background-position: center; /* 画像の中心を表示 */
  background-repeat: no-repeat; /* 繰り返さない */
  background-color: #333; /* 背景色 */
  overflow: hidden; /* はみ出しを隠す */
}

@media (max-width: 768px) {
  .img-container {
    height: 300px; /* スマホ用に高さを縮小 */
    background-size: contain; /* 画像が収まるように調整 */
  }
}

/* ゴーストのスタイル */
#ghost-container {
  position: fixed; /* 固定位置 */
  top: 0; /* 上からの位置 */
  left: 0; /* 左からの位置 */
  width: 100vw; /* ビューポートの幅 */
  height: 100vh; /* ビューポートの高さ */
  pointer-events: none; /* クリックイベントを無視 */
}

#ghost {
  position: absolute; /* 絶対位置 */
  width: 100px; /* 幅 */
  height: 100px; /* 高さ */
  opacity: 0; /* 不透明度 */
  transition: transform 1s ease-in-out; /* トランジション */
}

/* 帯のスタイル */
.ribbon {
  background-color: orange; /* ハロウィンらしいオレンジ色 */
  color: black; /* 注目を集めやすい黒い文字 */
  font-size: 1.5rem; /* フォントサイズ */
  text-align: center; /* テキストを中央揃え */
  padding: 15px; /* 内側の余白 */
  font-weight: bold; /* 太字 */
  position: absolute; /* 絶対位置 */
  top: 0; /* 上からの位置 */
  left: 0; /* 左からの位置 */
  right: 0; /* 右からの位置 */
  z-index: 10; /* 重なり順序 */
  border: 3px solid black; /* 黒い枠線で強調 */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* 影をつけて立体感を出す */
}

/* イベント詳細のh2の上マージン */
#event-details h2 {
  margin-top: 60px; /* h2の上の余白 */
}

/* ワークショップセクションのスタイル */
#workshops {
  background-color: #ff5757; /* 背景色 */
}

.workshop {
  margin-bottom: 20px; /* 各ワークショップの下の余白 */
}

.workshop-content {
  display: flex; /* フレックスボックス */
  align-items: center; /* 縦方向の中央揃え */
  gap: 20px; /* 隙間 */
}

.workshop-content img {
  border-radius: 10px; /* 角を丸く */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 影 */
}

.workshop-content p {
  max-width: 600px; /* 最大幅 */
}

/* メディアクエリでのワークショップのスタイル */
@media (max-width: 768px) {
  .workshop-content {
    flex-direction: column; /* 縦方向に並べる */
    text-align: center; /* テキスト中央揃え */
  }
}

/* ワークショップのタイトルスタイル */
.workshop h3 {
  font-size: 1.5rem; /* フォントサイズ */
  margin-bottom: 10px; /* 下の余白 */
}

/* ボタンのスタイリング */
.button-insta {
  display: inline-block; /* インラインブロック */
  padding: 10px 20px; /* 内側の余白 */
  font-size: 16px; /* フォントサイズ */
  color: black; /* 文字色 */
  background-color: #FFBD59; /* 背景色 */
  border-radius: 5px; /* 角を丸く */
  border: 1px solid #FFBD59; /* ボーダー */
  transition: background-color 0.3s, border-color 0.3s; /* トランジション */
  text-align: center; /* 中央揃え */
}

.button-insta:hover {
  background-color: #FFD580; /* ホバー時の背景色 */
  border-color: #FFD580; /* ホバー時のボーダー色 */
}

/* 昨年の様子 */
#movie2023 {
  background-color: #8c52ff; /* 背景色 */
}

.video-container {
  position: relative; /* 相対位置 */
  padding-bottom: 56.25%; /* 16:9のアスペクト比を維持 */
  height: 0; /* 高さを0に */
  overflow: hidden; /* はみ出しを隠す */
  max-width: 100%; /* 最大幅 */
  background-color: black; /* 背景色 */
}

.video-container iframe {
  position: absolute; /* 絶対位置 */
  top: 0; /* 上からの位置 */
  left: 0; /* 左からの位置 */
  width: 100%; /* 幅を100%に */
  height: 100%; /* 高さを100%に */
}

/* メディアクエリでの動画コンテナのスタイル */
@media (max-width: 768px) {
  .video-container {
    padding-bottom: 56.25%; /* アスペクト比維持 */
  }
}

/* 当日のルールスタイル */
#event-rules ul {
  margin-top: 10px; /* 上の余白 */
  list-style-type: disc; /* リストスタイル */
  margin-left: 20px; /* 左の余白 */
}

/* マップのスタイル */
#map {
  background-color: #ff5757; /* 背景色 */
  text-align: center; /* テキスト中央揃え */
}

.map-img-container {
  display: flex; /* フレックスボックス */
  justify-content: center; /* 水平方向の中央揃え */
  align-items: center; /* 縦方向の中央揃え */
  margin: 20px auto; /* 上下の余白 */
  width: 100%; /* 幅を100%に */
  height: 500px; /* 高さ */
  overflow: hidden; /* はみ出しを隠す */
}

.map-img-container img {
  width: 100%; /* 幅を100%に */
  height: 100%; /* 高さを100%に */
  object-fit: contain; /* 画像が収まるように調整 */
}

/* メディアクエリでのマップのスタイル */
@media (max-width: 768px) {
  .map-img-container {
    height: 300px; /* 高さを調整 */
  }

  .map-img-container img {
    height: auto; /* 高さを自動にする */
  }
}

/* 申し込み・お支払い方法のスタイル */
#registration {
  background-color: white; /* 背景色 */
}

#registration .button {
  display: inline-block; /* インラインブロック */
  background-color: #FFBD59; /* 背景色 */
  color: black; /* 文字色 */
  padding: 10px 20px; /* 内側の余白 */
  border-radius: 5px; /* 角を丸く */
  font-size: 1.2rem; /* フォントサイズ */
  text-align: center; /* 中央揃え */
  width: 80vw; /* 幅を80%に設定 */
  max-width: 600px; /* 最大幅 */
  margin: 0 auto; /* 中央揃え */
  box-sizing: border-box; /* ボックスサイズを含む */
}

#registration .button:hover {
  background-color: #FFD580; /* ホバー時の背景色 */
}

/* ボタンコンテナのスタイル */
.button-container {
  display: flex; /* フレックスボックス */
  justify-content: center; /* 水平方向の中央揃え */
  align-items: center; /* 縦方向の中央揃え */
  width: 100%; /* 幅を100%に */
  max-width: 100%; /* 最大幅を100%に */
}

/* 固定ボタンのスタイル */
#fixedButton {
  position: fixed; /* 固定位置 */
  bottom: 1px; /* 下からの位置 */
  z-index: 1000; /* 重なり順序 */
  display: none; /* 非表示 */
  padding: 10px 0px; /* 内側の余白 */
  background-image: url('btnimg2.png'); /* 背景画像 */
  background-size: cover; /* 背景画像をカバー */
  width: 200px; /* 幅 */
  height: 150px; /* 高さ */
  color: white; /* 文字色 */
  border-radius: 5px; /* 角を丸く */
  font-size: 1.2rem; /* フォントサイズ */
  text-align: center; /* 中央揃え */
  box-sizing: border-box; /* ボックスサイズを含む */
  left: 50%; /* 中央に配置 */
  transform: translateX(-50%); /* 中央に配置 */
}

#fixedButton:hover {
  background-image: url('btnimghover.png'); /* ホバー時の背景画像 */
}

/* 注意・お問い合わせセクションのスタイル */
#attention {
  background-color: #ffd700; /* 背景色 */
}

#contact {
  background-color: #ff5757; /* 背景色 */
}

/* フッターのスタイル */
footer {
  text-align: center; /* テキスト中央揃え */
  padding: 20px; /* 内側の余白 */
  background-color: #333; /* 背景色 */
  color: white; /* 文字色 */
  margin-top: 20px; /* 上の余白 */
}
